html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
}

table { 
    font-family: 'Open Sans', sans-serif;
	border-collapse: collapse; 
	margin:50px auto;
}

tr { 
	background: #eee; 
}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: center; 
    font-size: 18px;
    width: 120px;
    height: 120px;
    cursor: pointer;
    user-select: none;
}

#game-title {
    padding: 5px;
    font-size: 55px;
    line-height: -27px;
    margin-top: 20px;
    display: block;
    text-align: center;
    width: 450px;
    color: white;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Teko', sans-serif;
}

#game-board {
    margin-top: -35px;
}

nav > a, nav > a:hover, nav > a:active {
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #3498db;
}

.social-icon, .social-icon:hover {
    margin: auto;
    text-decoration: none;
}

.square-stamped {
    background-color: orange;
}

footer {
    font-family: 'BenchNine', sans-serif;
    font-size: 24px;
    bottom: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    line-height: -12px;
    position: absolute;
    width: 100%;
    background-color: #ddd;
    color: #333333;
    height: 30px;
    text-decoration: none;
    overflow: hidden;
}

footer > a, a:hover, a:active {
    text-decoration: none;
    color: #3498db;
}

.hidden {
    display: none;
    visibility: hidden;
}

#win-screen {
    margin: 50px auto;
    height: 706px;
    width: 706px;
    background-image: url('../images/bingo.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#win-screen > a, #win-screen > a:hover, #win-screen > a:active {
    font-family: 'Open Sans', sans-serif;
    color: white;
	font-size: 30px;
    font-weight: bold;
}

#win-text {
    display: block;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Teko', sans-serif;
    text-shadow: -64px 64px 0 #ccc,
                  64px 64px 0 #ccc,
                  64px -64px 0 #ccc,
                 -64px -64px 0 #ccc;

    font-size: 72px;
    padding-top: 85px;
    padding-bottom: 375px;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
    body.dark-theme #game-title {
        background: #23272a;
        color: #99aab5;
    }
    
    body.dark-theme td {
        color: white;
    }
    
    body.dark-theme .square-stamped {
        color:black;
    }
    
    body.dark-theme {
        background: #2e3136;
    }
    
    body.dark-theme tr {
        background: #666; 
    }
    
    body.dark-theme td, th {
        border: 1px solid grey; 
    }
}

